#[user]
#    name = <NAME>
#    email = <EMAIL>
[merge]
    keepBackup = false;
[core]
	quotepath = false
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore
[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
